app:
  log_level: 6
  http:
    port: 8080

redirect:
  host: ".dev.local." # don't forget the dots
  options:
    keep_uri: true
    permanent_redirect: true # take care, Chrome has aggressive cache with permanent redirect
    enforce_https: true
  keyword:
    slash: "--slash--"
    dot: "--dot--"
    colon: "--colon--"
    interrogation-mark: "--int--"
    ampersand: "--amp--"
    equal: "--equal--"
    percent: "--percent--"

resolver:
  type: "dns"
  config:
    dns_server: "8.8.8.8"
    timeout: 5
    hosts:
      dev.local: "google--dot--com.dev.local."
